{% load static %}
<html>
    <head>
      <title>Stevo's blog</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class = "page-header">
            <h1><a href="/">Stevo's Blog</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <h2><a href="">{{ post.title }}</a></h2>
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
