.page-header {
    background-color: #EF543A;
    margin-top: 0;
    padding: 10px 10px 10px 50px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
    font-size: 50pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Teko';
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #EF543A;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 40px;
}

.post h2 a, .post h2 a:visited {
    color:  #ED351E;
    font-size: 25pt;
}

.page-footer {
    background-color: #EF543A;
    margin-bottom: : 0;
    padding: 10px 10px 10px 50px;
}

.page-footer h1, .page-footer h1 a, .page-footer h1 a:visited, .page-footer h1 a:active {
    color: #FFFFFF;
    font-size: 30pt;
    text-decoration: none;
}
